<ion-content style="padding: 20px;">
  <ion-list>
    <ion-item>
      <ion-label>Opção 1</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label color="danger" desabled="true">Opção 2</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label color="secondary">Opção 3</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>